.titlesAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .prevBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(14, 37, 85, 0.06);
    padding: 8px;
    border-radius: 50px;

    @media screen and (max-width: 500px) {
      padding: 0 !important;
    }

    svg {
      width: 15px !important;
      height: 15px !important;
      color: rgb(215, 215, 215);
    }
  }

  > h5 {
    font-size: 15px;
    font-weight: 500 !important;
    color: rgba(215, 215, 215, 0.857);
  }
}
