.titlesAction {
  display: flex;
  align-items: center;
  gap: 15px;

  .prevBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(14, 37, 85, 0.06);
    padding: 8px;
    border-radius: 50px;

    svg {
      width: 15px !important;
      height: 15px !important;
    }
  }

  > h5 {
    font-size: 15px;
    font-weight: 500 !important;
  }
}
