.tableOrders {
  > div {
    background: transparent;

    > div {
      background: transparent;
    }

    @media screen and (max-width: 700px) {
      > div:first-child {
        padding: 10px 0px 0px 0px !important;

        // .titlesAction {
        //   width: 100%;
        //   padding: 0 8px;
        // }
      }
    }
  }

  .actionsOrders {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      align-items: flex-start;

      hr {
        border-bottom: 1px solid #ffffff1a !important;
        width: 100%;
      }
    }

    &__header_mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 10px;
      padding: 0px 0px 0px 15px;

      @media screen and (max-width: 700px) {
        padding: 0px 15px;
      }

      .reload {
        @media screen and (max-width: 550px) {
          padding: 0 !important;
          min-width: 38px;
          width: 38px;
          height: 32px;
          min-height: 32px;

          svg {
            width: 60%;
            height: 60%;
          }
        }
      }
    }

    &__actions_btn {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      width: 100%;
      padding: 2px 15px 7px;

      .create_order {
        width: 112px;

        @media screen and (max-width: 700px) {
          padding: 0 !important;
          min-width: 80px;
          width: 80px;
          height: 32px;
          min-height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 60%;
            height: 60%;
          }
        }
      }

      .reload {
        @media screen and (max-width: 1050px) {
          display: none;

          @media screen and (max-width: 900px) {
            display: block;

            @media screen and (max-width: 800px) {
              padding: 0 !important;
              min-width: 38px;
              width: 38px;
              height: 32px;
              min-height: 32px;

              svg {
                width: 60%;
                height: 60%;
              }
            }
          }
        }
      }

      .css-1ppov2z-control {
        position: relative;
      }

      .css-19bb58m {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 90%;
      }
    }
  }

  .my_tables__inner {
    table {
      tbody {
        tr:first-child {
          td.withDate {
            padding-top: 45px !important; // или сколько тебе нужно
            position: relative;

            &::before {
              content: '';
              width: 100%;
              min-width: 100%;
              height: 1px;
              background: #323232;
              position: absolute;
              top: 25px;
              left: 0;
            }

            .startDateHeader {
              top: 10px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 550px) {
      background-color: #111;
    }

    > div {
      table {
        thead,
        tbody {
          tr {
            th {
              position: relative;
              z-index: 99;
            }

            td.withDate {
              padding-top: 20px !important;
            }

            td.withDateBefore {
              padding-bottom: 20px !important;
            }

            td:nth-child(1) {
              position: relative;

              .startDateHeader {
                position: absolute;
                left: 25px;
                top: -15px;
                background: #134591;
                padding: 5px 12px;
                border-radius: 6px;
                color: #fff;
                font-weight: 600;
                font-size: 13px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
                z-index: 2;
              }
            }

            th:nth-child(1),
            td:nth-child(1) {
              width: 55px !important;
              min-width: 55px !important;
              max-width: 55px !important;
            }

            th:nth-child(2),
            td:nth-child(2),
            th:nth-child(3),
            td:nth-child(3) {
              width: 130px !important;
              min-width: 130px !important;
              max-width: 130px !important;
              padding-right: 0px !important;
            }

            th:nth-child(3),
            td:nth-child(3) {
              width: 100px !important;
              min-width: 100px !important;
              max-width: 100px !important;
              padding-left: 0px !important;
            }

            th:nth-child(4),
            td:nth-child(4),
            th:nth-child(5),
            td:nth-child(5) {
              width: 88px !important;
              min-width: 88px !important;
              max-width: 88px !important;
              padding-right: 0px !important;
            }

            th:nth-child(6),
            td:nth-child(6) {
              width: 110px !important;
              min-width: 110px !important;
              max-width: 110px !important;
              padding-right: 0px !important;
            }

            th:nth-child(7),
            td:nth-child(7) {
              width: 110px !important;
              min-width: 110px !important;
              max-width: 110px !important;
            }

            th:nth-child(8),
            td:nth-child(8) {
              width: 180px !important;
              min-width: 180px !important;
              max-width: 180px !important;
              padding-right: 15px !important;
            }
          }
        }

        thead {
          z-index: 99 !important;
        }
      }
    }

    .mobileListOrder {
      width: 100% !important;
      padding: 0px !important;
      border: none !important;

      .everyorderMobile {
        position: relative;
        padding: 35px 15px 10px;
        background: #1b1b1b;
        border: 1px solid rgba(255, 255, 255, 0.08);

        .dateTime {
          position: absolute;
          left: 14px;
          top: -15px;
          background: #134591;
          padding: 8px 20px;
          border-radius: 8px;
          color: #fff;
          font-size: 13px;
          font-weight: 600;
        }

        h6 {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 10px;
          color: #ffffffd9;
        }

        .rowItem {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 8px;
          font-size: 15px;
          color: #ccc;
          gap: 8px;

          strong {
            color: #999;
            min-width: 120px;
            font-size: 14px;
          }

          span {
            color: #999;
            font-size: 14px;
            font-weight: 500;
          }

          &.total span {
            color: #00a8ff;
            font-weight: 600;
          }

          &.status span {
            color: #00b894;
            font-weight: 500;
            font-size: 13px;
            text-align: right;
          }
        }
      }

      .pushTop {
        padding: 15px 15px 10px !important;
      }
    }
  }
}
