.tableOrders {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 10px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.2588235294);
  backdrop-filter: blur(102px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);

  @media screen and (max-width: 600px) {
    border-radius: 0px !important;
  }

  > div {
    background: transparent;

    > div {
      background: transparent;
    }

    > div:first-child {
      padding: 14px 24px !important;

      > div {
        span {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-size: 16px !important;
        }
      }

      @media screen and (max-width: 600px) {
        padding: 4px 0px 12px !important;

        .titlesAction {
          padding: 8px 10px !important;
        }

        .actionsOrders {
          padding-left: 18px;
          padding-top: 5px;
        }

        hr {
          width: 100%;
          height: 1px;
          background: #6c6c6c1b;
        }

        @media screen and (max-width: 500px) {
          .titlesAction {
            padding-left: 15px;
          }

          .actionsOrders {
            padding-left: 15px;
          }
        }

        > div {
          span {
            align-items: flex-start;
            flex-direction: column;
            gap: 5px;
          }
        }
      }
    }

    hr {
      border: 1px solid #6c6c6c1b;
    }
  }

  table {
    background: transparent !important;
    min-width: 950px;
    padding-bottom: 100px;

    thead,
    tbody {
      tr {
        > td {
          cursor: pointer;
          color: rgba(215, 215, 215, 0.586);
          border-bottom: 1px solid #ffffff1a;
          p,
          span {
            color: rgba(215, 215, 215, 0.586);
          }
        }
        th {
          background: transparent !important;
          color: rgba(215, 215, 215, 0.586);
          border-bottom: 1px solid #ffffff1a;
          background: #141414 !important;
          padding-top: 12px !important;
        }

        th:first-child,
        td:first-child {
          padding-left: 30px !important;

          @media screen and (max-width: 600px) {
            padding-left: 22px !important;
          }
        }

        th:last-child,
        td:last-child {
          width: 200px !important;
          min-width: 200px !important;
        }

        th:nth-child(7),
        td:nth-child(7) {
          width: 140px !important;
          min-width: 140px !important;
        }
      }
    }
  }

  .actionsOrders {
    display: flex;
    align-items: center;
    gap: 10px;

    .css-1jqq78o-placeholder {
      font-size: 13px !important;
    }

    .css-13cymwt-control {
      min-width: 200px !important;
      width: 200px !important;
    }

    .css-1dimb5e-singleValue {
      font-size: 13px !important;
    }

    .generatePdf {
      background: #134591;
      border-radius: 4px;
      padding: 10px 15px 12px;
      line-height: 10px;
      font-size: 13px;
      font-weight: 400;
      color: #fff;
    }

    .createOrder {
      line-height: 10px;
      font-size: 13px;
      font-weight: 400;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      p:nth-child(1) {
        display: block;
      }

      p:nth-child(2) {
        display: none;
      }

      @media screen and (max-width: 950px) {
        padding-top: 1px;
        padding-bottom: 1px;
        height: 31px;
        p:nth-child(2) {
          display: block;
          font-size: 17px;
          line-height: 16px;
        }

        p:nth-child(1) {
          display: none;
        }
      }
    }

    .updated {
      width: 90px;

      svg {
        display: none;
      }

      @media screen and (max-width: 1050px) {
        height: calc(100% - 100px) !important;
        font-size: 1px !important;
        color: transparent;
        width: auto !important;
        height: 32px !important;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 5px;

        svg {
          display: block;
          color: #fff;
        }
      }

      @media screen and (max-width: 990px) {
        display: none;
      }
    }
  }

  .viewUsersPage {
    height: calc(100% - 0px) !important;
    background: transparent !important;
    width: 100%;
    overflow-x: auto;

    > div {
      background: transparent !important;

      > div {
        background: transparent !important;
      }
    }
  }

  .statusOrder {
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .textTable {
    font-size: 13px;
  }

  // .listMoBile {
  // }
}
