.mainApp {
  min-width: 100vw;
  height: calc(100vh - 0px);
  max-height: calc(100vh - 0px);
  min-height: calc(100vh - 0px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  > div {
    height: 100%;
  }

  .mainHeader {
    background-image: linear-gradient(to right, #232323, #232323), url('../../assets/images/landing/pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    margin-right: 0px !important;
    height: 100%;

    @media screen and (max-width: 550px) {
      padding-top: 68px;
    }
  }
}

.standartLayout {
  background: rgba(0, 0, 0, 0.907);
  backdrop-filter: blur(102px); // размытие фона (на поддерживаемых браузерах)
  -webkit-backdrop-filter: blur(12px); // для Safari
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); // тонкая белая граница снизу
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); // лёгкая тень вниз
  z-index: 99;

  > div {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
}

.layoutContainer {
  > div {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

body.ios .mainApp {
  height: calc(100vh - 108px);
  max-height: calc(100vh - 108px);
  min-height: calc(100vh - 108px);
}
