.viewPrice {
  .headerActionsStandart {
    .standartBtn {
      z-index: 99;
    }
  }

  .my_tables__inner {
    table {
      padding: 5px 0px 300px;
      thead,
      tbody {
        tr {
          th:nth-child(1),
          td:nth-child(1) {
            width: 40px !important;
            max-width: 40px !important;
            min-width: 40px !important;
          }

          th:nth-child(2),
          td:nth-child(2) {
            width: 90px !important;
            max-width: 90px !important;
            min-width: 90px !important;
          }

          th:nth-child(3),
          td:nth-child(3) {
            width: 60px !important;
            max-width: 60px !important;
            min-width: 60px !important;
          }
        }
      }
    }
  }

  .landlordBody {
    > div {
      gap: 20px !important;
    }
  }
}
