.crudPhoto {
  width: 100%;
  height: 100%;
  background: #000000da;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/images/landing/pattern.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    height: 100%;
    width: 100%;
    background: transparent;

    > div {
      height: 100%;
      width: 100%;
      background: transparent;
      > div {
        height: 100%;
        width: 100%;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 550px) {
          padding: 0px !important;
        }
      }
    }

    .slider-container-big {
      width: 800px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 830px) {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding: 0 50px !important;

        @media screen and (max-width: 550px) {
          padding: 0 15px !important;
        }
      }

      .keen-slider__slide {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 700px;
        height: 500px;
        border-radius: 10px;
        border: 1px solid #e3e8ef;
        margin: 0 auto;

        @media screen and (max-width: 700px) {
          height: 400px;
          width: 100%;

          @media screen and (max-width: 480px) {
            height: 300px;

            @media screen and (max-width: 400px) {
              height: 270px;
            }
          }
        }
      }
    }

    .slider-controls {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      padding: 0 10px;
      z-index: 10;
      pointer-events: none;
      padding: 20px;

      .slider-button {
        pointer-events: all;
        background: rgba(255, 255, 255, 0.3);
        border: none;
        border-radius: 50%;
        color: white;
        font-size: 28px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: background 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 18px;
          height: 18px;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.5);
        }
      }

      .prev {
        margin-right: auto;
      }

      .next {
        margin-left: auto;
      }
    }
  }
}

.krest_btn_imgs {
  position: fixed;
  right: 20px;
  top: 20px;
  background: #ffffff80;
  border-radius: 10px;
  padding: 8px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
