.tableApartments {
  height: 100%;

  > div {
    > div:first-child {
      @media screen and (max-width: 700px) {
        padding: 12px 12px 12px 22px;
      }

      @media screen and (max-width: 600px) {
        padding: 12px;
      }
      span {
        @media screen and (max-width: 760px) {
          width: 450px;
          @media screen and (max-width: 730px) {
            font-size: 15px;
            width: 350px;
            @media screen and (max-width: 415px) {
              width: 290px;
              @media screen and (max-width: 365px) {
                width: 280px;
              }
            }
          }
        }
      }
    }
  }

  .viewUsersPage {
    height: calc(100% - 70px);
    width: 100%;

    .viewLandlord {
      font-size: 12px;
    }

    table {
      thead,
      tbody {
        tr {
          > th,
          > td {
            padding-bottom: 6px !important;
          }

          th:nth-child(1),
          td:nth-child(1) {
            padding-left: 15px;
            padding-right: 0px;
          }

          th:nth-child(2),
          td:nth-child(2) {
            min-width: 170px !important;
            width: 170px !important;
            padding-left: 10px;
            padding-right: 15px;
          }

          th:nth-child(3),
          td:nth-child(3) {
            min-width: 90px !important;
            width: 90px !important;
            padding-left: 10px;
            padding-right: 10px;
          }

          th:nth-child(4),
          td:nth-child(4) {
            min-width: 85px !important;
            width: 85px !important;
            padding-left: 5px;
            padding-right: 5px;
          }

          th:nth-child(5),
          td:nth-child(5) {
            min-width: 105px !important;
            width: 105px !important;
            padding-left: 15px;
            padding-right: 5px;
          }

          th:nth-child(6),
          td:nth-child(6) {
            min-width: 85px !important;
            width: 85px !important;
            padding-left: 15px;
            padding-right: 5px;
          }

          th:nth-child(7),
          td:nth-child(7) {
            min-width: 115px !important;
            width: 115px !important;
            padding-left: 15px;
            padding-right: 5px;
          }

          th:nth-child(8),
          td:nth-child(8) {
            min-width: 115px !important;
            width: 115px !important;
            padding-left: 15px;
            padding-right: 5px;
          }

          th:nth-child(9),
          td:nth-child(9) {
            min-width: 115px !important;
            width: 115px !important;
            padding-left: 15px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}
