.map_data {
  .crud_apartment_page__inner {
    padding: 10px 15px !important;
    height: 100% !important;

    @media screen and (max-width: 700px) {
      height: calc(100vh - 180px);
    }

    @media screen and (max-width: 550px) {
      padding: 0px !important;
    }
  }

  .header {
    padding-right: 140px;
    @media screen and (max-width: 700px) {
      padding-right: 0px;
    }
  }

  > div {
    > div:first-child {
      > div {
        width: 100%;
        display: flex;
        align-items: center;
        span {
          display: inline-block;
          max-width: 100%;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      @media screen and (max-width: 700px) {
        padding: 12px 12px 12px 22px;
      }

      @media screen and (max-width: 600px) {
        padding: 12px;
      }

      span {
        @media screen and (max-width: 760px) {
          width: 100%;
          @media screen and (max-width: 730px) {
            font-size: 15px;
          }
        }
      }
    }
  }

  .buttonRoot {
    width: 32px;
    box-shadow: 0 1px 3px 0 rgba(38, 38, 38, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    margin: 10px;
  }

  .button {
    padding: 0;
    outline: 0;
    border: none;
    cursor: pointer;
    background: #fff;
    width: 32px;
    height: 32px;
    color: #262626;
    box-sizing: border-box;
  }

  .button:hover {
    opacity: 0.7;
  }

  .button:active {
    color: #028eff;
  }

  .createUser {
    @media screen and (max-width: 700px) {
      top: auto !important;
      position: fixed !important;
      bottom: 40px !important;
      z-index: 99;
      right: 60px;

      @media screen and (max-width: 600px) {
        right: 30px;
      }

      @media screen and (max-width: 500px) {
        width: 80%;
        right: 50% !important;
        transform: translateX(50%) !important;
        height: 45px !important;
        @media screen and (max-width: 500px) {
          width: 90%;
        }
      }

      p {
        display: block !important;
      }
    }
  }
}
