.viewUsersPage {
  height: calc(100% - 70px);
  width: 100%;
}

.createUser {
  position: absolute;
  right: 24px;
  transform: translateY(-50%);
  top: 50%;
  background: #00ab55;
  height: 38px;
  padding: 2px 15px 3px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.imgProd {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  max-height: 100px;
  min-height: 100px;

  img {
    object-fit: contain;
  }
}

.viewLandlord {
  text-decoration: underline;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
