.viewUsersPage {
  height: calc(100% - 70px);
  width: 100%;
}

.imgProd {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  max-height: 100px;
  min-height: 100px;

  img {
    object-fit: contain;
  }
}

.viewLandlord {
  text-decoration: underline;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
