.crud_data {
  height: 100%;
  width: 100%;

  background-image: url('../../../assets//images/landing/pattern.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    width: 450px;
    height: auto;
    background: linear-gradient(to right, #181818e2, #0b0b0be7);

    &:nth-of-type(2) {
      height: calc(100% - 70px);
      padding: 0px !important;
      overflow: hidden;
    }

    > div {
      background: transparent;
    }

    > div:first-child {
      padding: 10px 25px !important;
    }

    hr {
      border: 1px solid #6c6c6c1b !important;
    }

    > div:last-child {
      height: 100%;
      padding: 0px !important;

      > div {
        height: 100%;
      }

      > div:nth-child(2) {
        height: 100%;
      }
    }
  }

  &__inner {
    .mySelectDark {
      margin-bottom: 10px !important;
    }

    padding: 5px 25px 10px;
    .actionCrudBtn {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      padding: 20px 0px 15px;
    }
  }
}
