.crudPrice {
  width: 500px !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;

  @media screen and (max-width: 500px) {
    align-items: flex-start;
  }

  > div {
    width: 500px !important;
    height: 500px !important;
    background: linear-gradient(to right, #181818e2, #0b0b0be7) !important;

    @media screen and (max-width: 550px) {
      height: 550px !important;
    }

    > div {
      background: transparent;

      > div:first-child {
        padding: 15px 24px !important;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .standartBtn {
      width: 100%;
    }
  }

  .crudUsers {
    width: 100%;
    flex-direction: column;
    gap: 0px;
    > div {
      width: 100%;
    }
  }

  .actionBtn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 30px 0 0 0 !important;
  }
}

.noMenuDel {
  .delAlert {
    top: 0 !important;
  }
}
