.crudPays {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/images/landing/pattern.png') !important;

  @media screen and (max-width: 550px) {
    align-items: flex-start !important;
  }

  > div {
    width: 450px;
    height: auto !important;
    background-color: #000000da !important;

    @media screen and (max-width: 550px) {
      width: 100%;
    }

    .info {
      margin-top: 25px !important;
      margin-bottom: 10px !important;
    }

    .dop {
      margin-top: 0px !important;
      margin-bottom: 20px !important;
    }

    .nonePush {
      margin-top: 10px !important;
    }
  }

  .actionBtn {
    .btnCancel,
    .btnSave {
      .createUser {
        width: 100px !important;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .titlesModal {
      padding-left: 25px !important;
      padding-top: 10px !important;
      padding-right: 25px !important;
    }

    .actionBtn {
      p {
        display: block;
      }
    }
  }
}
