.crudLandlords {
  width: 360px;
  @media screen and (max-width: 420px) {
    min-width: 100%;
    width: 100%;
  }
}

.css-pz6eh2-MuiPaper-root-MuiDialog-paper {
  @media screen and (max-width: 420px) {
    min-width: 100%;
    width: 100%;
  }
}
