.crud_more_data_apartment {
  position: relative;
  border-radius: 10px;

  @media screen and (max-width: 600px) {
    border-radius: 0px;
  }

  > div {
    > div:first-child {
      padding: 12px 24px !important;
    }
  }

  .headerActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .standartBtn {
      @media screen and (max-width: 550px) {
        width: 85%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }
  }

  > div {
    > div:first-child {
      @media screen and (max-width: 600px) {
        padding: 8px 20px;
      }
    }
  }

  .crud_apartment_page__inner {
    padding-bottom: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3); // цвет ползунка
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .rule-item {
      display: flex;
      align-items: flex-start;
      padding: 10px 10px 10px 20px;
      border-bottom: 1px solid #6363634f;
      gap: 15px;
      cursor: pointer;

      @media screen and (max-width: 500px) {
        padding: 10px 10px 10px 13px;
      }
    }

    .rule-icon-check {
      display: flex;
      align-items: flex-start;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        justify-content: start;
      }
    }

    .rule-icon {
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin-left: 20px;
      @media screen and (max-width: 600px) {
        margin-left: 7px;
        margin-top: 10px;
        width: 30px;
        height: 30px;
      }
    }

    .rule-texts {
      flex: 1;
    }

    .rule-name {
      font-weight: 600;
      margin-bottom: 4px;
      color: #cacacac7;
    }

    .rule-desc {
      font-size: 14px;
      color: #878787;
    }

    .empty_list {
      padding: 20px;
      text-align: center;
      color: gray;
    }
  }
}
