.viewLockApartmentPage {
  > div {
    height: 450px !important;

    > div:first-child {
      padding: 0px !important;
    }
  }

  .standartBtn {
    height: 42px;
    margin: 20px 0 0 0;
  }

  .crud_apartment_page__inner {
    height: auto !important;
    overflow-y: auto !important;
  }
}
