.crudLockApartmentPage {
  background-repeat: no-repeat;
  background-size: cover;
  background: #000000da;

  > div {
    > div:first-child {
      padding-left: 15px !important;
    }
  }

  .standartBtn {
    width: 100%;
    height: 45px;
    margin: 20px 0;
  }
}
