.menuActionApartment {
  > div:nth-child(3) {
    > div:first-child {
      width: 480px !important;
      min-width: 480px !important;
      max-width: 480px !important;
      height: auto !important;

      > div {
        width: 100%;

        span {
          display: inline-block;
          max-width: 100%;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      @media screen and (max-width: 500px) {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .modalActionApartment {
    min-width: 420px;
    padding-bottom: 20px;
    @media screen and (max-width: 450px) {
      min-width: 100%;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 10px;
      h2 {
        text-align: left;
        padding-left: 17px !important;
        font-size: 18px;
      }
    }

    .payIcon {
      width: 20px;
      height: 20px;
    }

    .listIcon {
      width: 18px;
      height: 18px;
    }

    .videoIcon {
      width: 22px;
      height: 22px;
    }

    > div:last-child {
      ul {
        > div {
          > div:nth-child(2) {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
