.btnCancel {
  display: block;
  cursor: pointer;

  .createUser {
    width: 120px !important;
    position: static !important;

    background: #ededed !important;
    color: #222;
    font-weight: 600;
    font-size: 14px !important;

    p {
      color: #222;
      font-weight: 600;
      font-size: 14px !important;
    }
  }
}
