.btnSaves {
  display: block;
  cursor: pointer;

  > button {
    cursor: pointer;
    background: #ededed !important;
    color: #222;
    width: auto;
    padding: 8px 12px;
    border-radius: 5px;
    width: 110px;
    text-align: center;

    p {
      color: #222;
      font-size: 13px;
      font-weight: 500;
    }
  }
}
