.crudCleaning {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url('../../../assets/images/landing/pattern.png') !important;

  @media screen and (max-width: 550px) {
    align-items: flex-start !important;
  }

  > div {
    height: auto !important;
    width: 450px !important;
    background: linear-gradient(to right, #181818e2, #0b0b0be7) !important;

    @media screen and (max-width: 550px) {
      width: 100% !important;
    }
  }

  &__inner {
    padding: 0px 15px 10px 15px;

    .info {
      margin: 15px 0 20px 0;
      color: #e7e7e7e0 !important;
    }

    .createUser {
      height: 38px !important;
      width: 140px !important;
      float: right;
    }

    .actionBtn {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: flex-end;
      padding-bottom: 10px;
    }
  }

  .myInputs {
    > div {
      height: 40px !important;
      padding-top: 5px !important;
    }
  }

  .ant-picker-cell-today {
    .ant-picker-cell-inner {
      color: inherit !important;
      font-weight: normal !important;
    }
  }

  .ant-picker-cell-today .ant-picker-cell-inner::before {
    display: none !important;
  }

  @media screen and (max-width: 600px) {
    .titlesModal {
      padding-left: 24px;
      padding-block-start: 10px;
      padding-right: 24px;
    }
    .actionBtn {
      margin: 20px 0 0 0 !important;
      .createUser {
        width: 120px !important;
      }

      p {
        display: block !important;
      }
    }
  }
}
