* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;

  max-width: 100vw;
  overscroll-behavior: none; // отключает “резиновый” скролл на Safari
  -webkit-overflow-scrolling: auto;
}

@media (pointer: coarse) {
  html {
    touch-action: pan-x pan-y;
  }
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  background: transparent;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.dateSort {
  width: 120px;
  height: 38px;

  input {
    width: 120px;
    height: 38px;
    padding: 0 18px;
    border-radius: 5px;
    font-size: 16px !important;
    border: 1px solid #c3ccd8;
    color: #222222be !important;
    font-family: 'Roboto', sans-serif !important;

    &::placeholder {
      color: #222 !important;
      font-weight: 600;
    }

    &:focus {
      border: 1px solid #c3ccd8;
    }
  }
}

.css-fludu9-MuiTableCell-root {
  line-height: 16px !important;
}

.emptyData {
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 20px;
  }
}

.myInputs {
  margin: 10px 0 0 0;
  position: relative;
  z-index: 50;

  h5 {
    font-size: 16px;
    margin: 0 0 3px 0;
    padding: 0 !important;
    font-weight: 400;
    background: transparent;
  }

  .css-13cymwt-control,
  .css-t3ipsp-control {
    height: 38px !important;
    cursor: pointer;
  }

  .css-1dimb5e-singleValue {
    font-size: 13px !important;
  }

  .select {
    width: 100%;
    height: 36px;
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0 0 3px 0;
  > span {
    padding: 0 !important;
  }
}

.everyOneActive {
  color: #00ab557a !important;
}

.everyOneNoActive {
  color: rgba(255, 0, 0, 0.568) !important;
}

.everyOneNoActiveBlink {
  color: rgba(255, 0, 0, 0.568) !important;
  animation: blink 3s infinite;
}

.mapIcon {
  padding: 3px 0px 2px 0px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.saveData {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #00ab55;
  height: 38px;
  min-height: 38px;
  border-radius: 5px;
  color: #fff;
  padding: 2px 15px 3px;
  margin-top: 20px;
  float: right;
}

.css-k78yb4-MuiPaper-root-MuiDialog-paper {
  background: transparent !important;
}

.empty_list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saveRules {
  display: none;
  @media screen and (max-width: 500px) {
    position: fixed;
    z-index: 99;
    bottom: 40px;
    left: 50%;
    background: #00ab55;
    height: 45px;
    width: 90%;
    padding: 2px 15px 3px;
    transform: translateX(-50%);
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.createUser {
  position: absolute;
  right: 20px;
  top: 18px;
  background: #00ab55;
  height: 38px;
  padding: 2px 15px 3px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  @media screen and (max-width: 580px) {
    padding: 2px 10px 3px;
    p {
      display: none;
    }
  }
}

.emptyDataList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorData {
  color: rgba(255, 0, 0, 0.793);
}

.datePicker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px !important;
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  // border: 1px solid #cccccc;
  border: none !important;

  padding: 2px 0px;
  border-radius: 5px !important;
  z-index: 99;

  .react-datepicker-popper {
    z-index: 99;

    .react-datepicker {
      border-radius: 8px !important;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
      border: 1px solid #ccc;
      overflow: hidden;
    }

    .react-datepicker__triangle {
      display: none; // убрать треугольник, если он мешает визуально
    }
  }
  /// color: '#e9e9e9'
  .react-datepicker__month-container {
    float: right !important;
  }

  > div {
    > div {
      input {
        width: 100% !important;
        min-width: 100% !important;
        text-align: center;
        border-radius: 5px;
        height: 32px !important;
        border: none !important;
        font-size: 13px !important;
      }
    }
  }

  .react-datepicker {
    border-radius: 8px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    // border: 1px solid #ddd;
    border: none !important;
    overflow: hidden;
    margin-top: 4px !important;

    .react-datepicker__navigation--previous {
      left: 12px !important;
      background-image: url('../src/assets/images/arrows/arrow_left_w.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    .react-datepicker__navigation--next {
      right: 12px;
      background-image: url('../src/assets/images/arrows/arrow_right_w.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    .react-datepicker__navigation-icon {
      display: none !important;
    }

    .future-date-disabled {
      color: #888 !important;
      pointer-events: none !important;
      text-decoration: line-through !important;
    }

    .react-datepicker__day-name {
      color: #ddd !important;
    }

    .react-datepicker__current-month {
      color: #ddd;
      font-size: 14px !important;
    }
  }

  .react-datepicker-popper {
    z-index: 9999 !important;
  }

  .dark-calendar {
    background: #1e1e1e;
    color: #fff;

    .react-datepicker__header {
      background: #2a2a2a;
      border-bottom: 1px solid #444;
    }

    .react-datepicker__day {
      color: #ccc;

      &:hover {
        background-color: #333;
        color: #fff;
      }
    }

    .react-datepicker__day--selected {
      background-color: #2196f3;
      color: #fff;
    }
  }

  .dark-input {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #ffffff24 !important;
    padding: 6px 10px;
    border-radius: 6px;

    &::placeholder {
      color: #888;
    }

    &:focus {
      outline: none;
      border-color: #2196f3;
      box-shadow: 0 0 0 1px #2196f3;
    }
  }
}

.container {
  width: 1280px;
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1330px) {
    width: 1180px;
    max-width: 1180px;

    @media screen and (max-width: 1220px) {
      width: 1080px;
      max-width: 1080px;

      @media screen and (max-width: 1140px) {
        width: 100%;
        max-width: 100%;
        padding-left: 35px;
        padding-right: 35px;

        @media screen and (max-width: 550px) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

.noneDataForModal {
  padding: 0 !important;
}

.noneMenu {
  display: none !important;
}

.actionHeader {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.myInputs {
  margin: 7px 0 0 0 !important;
  h5 {
    color: rgba(231, 231, 231, 0.8784313725) !important;

    font-size: 16px;
    margin: 0 0 5px 0;

    @media screen and (max-width: 550px) {
      margin: 0 0 8px 0;
    }
  }

  .select {
    > div {
      background: #222222 !important;
      border: 2px solid #222222 !important;
      color: rgba(231, 231, 231, 0.8784313725) !important;

      div {
        color: rgba(231, 231, 231, 0.8784313725) !important;
      }
    }
  }
}

.headerActionsStandart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 100%;

  .titlesAction {
    width: calc(100% - 140px);

    @media screen and (max-width: 550px) {
      width: calc(100% - 0px);
    }

    h5 {
      overflow: hidden;
    }
  }

  .standartBtn {
    @media screen and (max-width: 550px) {
      width: 85%;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}
///////////////////////////
.my_tables {
  height: 100%;
  position: relative;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #00000042;
  backdrop-filter: blur(102px); // размытие фона (на поддерживаемых браузерах)
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); // тонкая белая граница снизу
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); // лёгкая тень вниз
  z-index: 99;

  @media screen and (max-width: 550px) {
    border-radius: 0px;
  }

  > div {
    background: transparent;
    height: 100%;

    &:nth-of-type(2) {
      height: calc(100% - 70px);
      padding: 0px !important;
      overflow: hidden;
    }

    > div {
      background: transparent;
    }

    > div:first-child {
      padding: 10px 15px !important;
    }

    hr {
      border: 1px solid #6c6c6c1b !important;
    }

    > div:last-child {
      height: 100%;
      padding: 0px !important;

      > div {
        height: 100%;
      }

      > div:nth-child(2) {
        height: 100%;
      }
    }
  }

  .my_tables__inner {
    height: calc(100% - 0px);
    width: 100%;

    > div:first-child {
      background: transparent !important;
      height: calc(100% - 55px) !important;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.3); // цвет ползунка
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    table {
      thead,
      tbody {
        tr {
          cursor: pointer;

          > th,
          > td {
            background: transparent;
            color: rgba(215, 215, 215, 0.586);
          }

          th {
            background: #1a1a1a;
            padding-bottom: 8px !important;
            padding-top: 8px !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            font-size: 13px;
          }

          td {
            padding-bottom: 8px !important;
            padding-top: 8px !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            font-size: 12px;
          }

          th:first-child,
          td:first-child {
            min-width: 55px !important;
            width: 55px !important;
            max-width: 55px !important;
            padding-left: 25px;
          }

          th:last-child,
          td:last-child {
            padding-right: 25px;
          }

          .viewClick {
            font-size: 11px;
            color: rgba(215, 215, 215, 0.786);
            text-decoration: underline;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
          }
        }
      }
    }
  }
}

.standartBtn {
  background: #134591;
  border-radius: 4px;
  padding: 10px 15px 12px;
  line-height: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.crud_data {
  height: 100%;
  width: 100%;
  background-image: url('./assets//images/landing/pattern.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 550px) {
    background: linear-gradient(to right, #181818e2, #0b0b0be7);
    align-items: flex-start;
  }

  > div {
    width: 450px;
    height: auto;
    background: linear-gradient(to right, #181818e2, #0b0b0be7);
    @media screen and (max-width: 550px) {
      width: 100%;
    }

    &:nth-of-type(2) {
      height: calc(100% - 70px);
      padding: 0px !important;
      overflow: hidden;
    }

    > div {
      background: transparent;
    }

    > div:first-child {
      padding: 10px 25px !important;

      @media screen and (max-width: 550px) {
        padding: 30px 25px 10px !important;
      }
    }

    hr {
      border: 1px solid #6c6c6c1b !important;
    }

    > div:last-child {
      height: 100%;
      padding: 0px !important;

      > div {
        height: 100%;
      }

      > div:nth-child(2) {
        height: 100%;
      }
    }
  }

  &__inner {
    .mySelectDark {
      margin-bottom: 10px !important;
    }

    padding: 5px 25px 10px;
    .actionCrudBtn {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      padding: 20px 0px 15px;

      @media screen and (max-width: 550px) {
        .btnCancels {
          @media screen and (max-width: 550px) {
            display: none;
          }
        }
        .btnSaves {
          width: 100%;
          button {
            width: 100%;
            height: 45px;
          }
        }
      }
    }
  }
}
