.crudPassword {
  height: 100%;
  background-image: url('../../../assets/images/landing/pattern.png') !important;

  .push {
    margin: 15px 0 12px;
  }
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 550px) {
    align-items: flex-start;
  }

  > div {
    width: 450px !important;
    height: auto !important;
    background-color: #000000da !important;

    @media screen and (max-width: 550px) {
      width: 100% !important;
    }

    .actionBtn {
      height: 50px;
    }
  }

  .myInputs {
    > div {
      height: 38px !important;
      padding-top: 5px !important;
    }
  }

  .ant-picker-cell-today {
    .ant-picker-cell-inner {
      color: inherit !important;
      font-weight: normal !important;
    }
  }

  .ant-picker-cell-today .ant-picker-cell-inner::before {
    display: none !important;
  }

  .actionBtn {
    @media screen and (max-width: 580px) {
      p {
        display: block !important;
      }
    }
  }
}
