.tableLandlords {
  height: 100%;
  position: relative;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  background: #00000042;
  backdrop-filter: blur(102px); // размытие фона (на поддерживаемых браузерах)
  -webkit-backdrop-filter: blur(12px); // для Safari
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); // тонкая белая граница снизу
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); // лёгкая тень вниз
  z-index: 99;

  @media screen and (max-width: 550px) {
    height: calc(100% - 100px) !important;
  }

  div {
    background: transparent;
    border-radius: 5px;
  }

  > div {
    border-radius: 5px;

    > div:first-child {
      border-radius: 5px 5px 0 0;
      padding: 12px 15px !important;

      .standartBtn {
        @media screen and (max-width: 550px) {
          position: fixed;
          bottom: 20px;
          z-index: 99;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          width: 85%;
          padding: 16px 15px !important;
        }
      }
    }

    hr {
      border: 1px solid #6c6c6c1b;
    }

    > div:last-child {
      border-radius: 0 0 5px 5px;
    }
  }

  .imgProd {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    max-height: 100px;
    min-height: 100px;

    img {
      object-fit: contain;
    }
  }

  .viewUsersPage {
    height: calc(100% - 0px);
    width: 100%;

    .viewLandlord {
      font-size: 11px;
      color: rgba(215, 215, 215, 0.786);
    }

    table {
      thead,
      tbody {
        tr {
          cursor: pointer;

          > th,
          > td {
            padding-bottom: 4px !important;
            padding-top: 2px !important;
            background: transparent;
            color: rgba(215, 215, 215, 0.586);
          }

          th {
            padding-bottom: 8px !important;
            padding-top: 8px !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            font-size: 13px;
          }

          td {
            padding-bottom: 8px !important;
            padding-top: 8px !important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            font-size: 12px;
          }

          th:first-child,
          td:first-child {
            min-width: 30px !important;
            width: 30px !important;
            max-width: 30px !important;

            @media screen and (max-width: 1020px) {
              min-width: 45px !important;
              width: 45px !important;
              max-width: 45px !important;
            }
          }

          th:nth-child(2),
          td:nth-child(2) {
            min-width: 150px !important;
            width: 150px !important;
            padding-left: 10px;
            padding-right: 5px;
          }

          th:nth-child(3),
          td:nth-child(3) {
            min-width: 140px !important;
            width: 140px !important;
            padding-left: 10px;
            padding-right: 0px;
          }

          th:nth-child(4),
          td:nth-child(4) {
            min-width: 115px !important;
            width: 115px !important;
            padding-left: 5px;
            padding-right: 5px;
          }

          th:nth-child(5),
          td:nth-child(5) {
            min-width: 125px !important;
            width: 125px !important;
            padding-left: 15px;
            padding-right: 5px;
          }

          th:nth-child(6),
          td:nth-child(6) {
            min-width: 85px !important;
            width: 85px !important;
            padding-left: 15px;
            padding-right: 5px;
          }

          th:nth-child(7),
          td:nth-child(7) {
            min-width: 115px !important;
            width: 115px !important;
            padding-left: 15px;
            padding-right: 5px;
          }
        }
      }

      thead {
        tr {
          background: #1a1a1a;
        }
      }
    }
  }
}

.tableTopBtn {
  > div {
    > div:last-child {
      padding-top: 1px !important;
      @media screen and (max-width: 600px) {
        padding: 0 !important;
      }
    }

    > div:first-child {
      padding-right: 240px;
      > div {
        width: 100%;
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          max-width: 100%;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      @media screen and (max-width: 700px) {
        padding: 16px 80px 16px 16px;
        span {
          font-size: 16px;
        }

        @media screen and (max-width: 500px) {
          padding: 8px 8px 8px 16px;
        }

        .createUser {
          top: 10px !important;
          padding: 2px 8px 3px;
          height: 32px !important;

          p {
            display: none;
          }

          @media screen and (max-width: 500px) {
            top: auto !important; // сбрасываем top
            bottom: 20px !important;
            position: fixed !important;
            z-index: 10;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 45px !important;

            p {
              display: block;
            }
          }
        }
      }
    }
  }
}
