.mainLogin {
  > div {
    > div:first-child {
      padding: 16px 24px !important;
    }
  }
  .inputSend {
    padding: 8px 0px 0px 0px !important;
  }
  .actionBtn {
    padding: 0 !important;
  }
}
